
  <div style="height:500px; overflow:auto;">
      <div style="float:left;" >
          <img class="backButton" src="/images/left.png" id="nextButton" onClick="showLightbox(-2)">
      </div>

      <div style="float:left; width:200px;">
          <%= content_tag :div, :class => "thumbwrapperPopUpTitle" do %>
              <%= image_tag @portfolio.images.first.path, :class => "imgtag-title" %>
          <% end %>
          <div class="portfolio-name">
              <%= @portfolio.name %>
          </div>
          <div class="portfolio-link">
              <%= @portfolio.contact_link %>
          </div>
          <% if @portfolio.documents.first %>
              <div class="portfolio-doc">
                  <%= link_to "Executive Summary", @portfolio.documents.first.path, :style=> "font-size:20px; color:grey;" %>
              </div>
          <% end %>
      </div>

      <div style="float:left; width:650px; height:97%;">
          <%= content_tag :div, :id => 'mainPortfolioImg', :class => "thumbwrapper-main" do %>
              <%= image_tag @portfolio.images.first.path, :class => "imgtag-main" %>
          <% end %>
          <div id="mainPortfolioImgCaption" style="height:20%; text-align:justify; font-size:15px; color:grey; margin-left:8px; margin-right:25px; margin-top: 8px; overflow:auto; float:left; padding:7px; background-color: lightgrey; width:585px;">
              <%=  @portfolio.images.first.caption %>
          </div>
      </div>

      <div style="float:left; width:155px; height:96%; margin-top:10px;background-color:lightgrey">
          <div><img src="/images/up.png" id="slider-top" alt=""  class="popupButton" style="margin-left:60px;" onClick="onTopClick()"/></div>
          <div style="height:80%; overflow:hidden;">
              <ul id="slider-ul" style="height:20000px; margin-left:10px;list-style-type:none;">
                  <% @portfolio.images.each do |image| %>
                      <%= content_tag :li, :id => image.name, :class => "slide-li", :style=>"margin-bottom:10px;" do %>
                          <%= image_tag(image.path, :id => image.path, :class => "imgtagPopUp", :name => image.caption, :onClick => "onClickImgHandler(this)") %>
                      <% end %>
                  <% end %>
              </ul>
          </div>
          <div><img src="/images/down.png" id="slider-bottom" class="popupButton" style="margin-left:60px; margin-top:10px;" onClick="onBottomClick()"/></div>
      </div>

      <div style="float:left; width:100px">
          <img id="closeButton" class="closeButton" src="/images/close.png" style="float:right;" onClick="hideLightbox()"/>
          <img class="nextButton" src="/images/right.png" id="nextButton" onClick="showLightbox(-1)"/>
      </div>
  </div>
